<h1>New restaurant</h1>
<%= form_for @restaurant do |f| %>
  <strong><%= f.label :name %></strong><br>
  <%= f.text_field :name %><br><br>
  <strong><%= f.label :address %></strong><br>
  <%= f.text_field :address %><br><br>
  <strong><%= f.label :phone_number %></strong><br>
  <%= f.text_field :phone_number %><br><br>
  <strong><%= f.label :category %></strong><br>
  <%= f.text_field :category %><br><br>
  <%= f.submit %>
<% end %>

<p><%= link_to "Back to list", restaurants_path %></p>
